:root {
  --primary-color: #000000;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --link-color: #757575;
  --white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --bgd-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header a {
  display: block;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.container > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  /* margin-left: 93px; */
}

.nav-menu {
  display: flex;
  /* justify-content: space-between; */
}

.nav-menu-contacts {
  display: flex;
}

.nav-menu-item {
  margin-left: 50px;
}

.nav-menu-item:first-of-type {
  margin-left: 0;
}

.nav-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.nav-menu-link:active {
  color: var(--accent-color);
}

.nav-menu-link.current {
  color: var(--accent-color);
}

.nav-menu-link-contacts {
  display: block;
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.nav-menu-contacts:first-child {
  margin-left: 0;
}

.nav-menu-link-contacts:hover,
.nav-menu-link-contacts:focus,
.nav-menu-link-contacts:active {
  color: var(--accent-color);
}

/* Стили для героя */

.hero {
  background-color: var(--bgd-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

/* Стили для блока 2 */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.benefits-content {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.aside-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* Стили для блока 3 */

.team {
  background-color: var(--secondary-white-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-item-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

/* Стили для футера */

.footer {
  background-color: var(--bgd-color);
}
footer > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Стили для portfolio */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--secondary-white-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
